html {
  font-family: Verdana, sans-serif;
  background-color: black;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

h2 {
  font-size: 16px;
}

h3 {
  font-weight: normal;
  font-size: 42px;
  color: white;
}

h4 {
  font-size: 21px;
  font-weight: normal;
  color: gray;
}

.textcenter {
  text-align: center;
}

.link {
  color: Aquamarine;
}

.contentcenter {
  display: block;
  margin: auto;
}

.copyright {
  float: right;
}
